<% @user? provide(:title, "#{@user.name}さんの購入済み一覧") : provide(:title, "購入済み一覧") %>

<main role="main" class="container">
  <div class="posts-content">
    <div class="posts">
      <%= paginate @posts.purchased %>
      <% if @posts.present? %>
        <% @posts.purchased.each do |post| %>
          <div class="list-group">
            <li class="list-group-item">
              <%= link_to gravatar_for(post.user), post.user %>
              <% if params[:user_id].present? %>
                <span class="user">
                  <%= post.user.name %>
                </span>
              <% elsif current_user == post.user %>
                <span class="user">
                  <%= link_to "#{post.user.name} (投稿一覧へ)", user_posts_path(post.user) %>
                </span>
              <% else %>
                <span class="user">
                  <%= link_to "#{post.user.name} (公開投稿一覧へ)", user_posts_path(post.user) %>
                </span>
              <% end %>
              <span class="post"><%= link_to post.name, "#" %></span>
              <span class="timestamp">
                投稿時間：<%= time_ago_in_words(post.created_at) %>前
                <% if current_user == post.user %>
                  <%= link_to "削除", "#", method: :delete,
                                                   data: { confirm: "You sure?" } %>
                <% end %>
              </span>
            </li>
          </div>
        <% end %>
      <% else %>
        <h3>投稿がありません。</h3>
      <% end %>
      <%= paginate @posts.purchased %>
    </div>
  </div>
</main>
