<% provide(:title, "ユーザー一覧") %>

<main role="main" class="container">
  <div class="users">
    <%= paginate @users %>
    <% @users.each do |user| %>
      <div class="list-group">
        <li class="list-group-item">
          <h3>
            <%= gravatar_for user %>
            <%= link_to user.name, user_path(user) %>
          </h3>
          <% if user.bio %>
            <p class="lead">
              <%= truncate user.bio %>
              <%= link_to "もっと読む", user_path(user) %>
            </p>
          <% end %>
        </li>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</main>
