<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to(root_path,class: "navbar-brand") do %>Home<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to(about_path, class: "nav-link") do %>About<% end %>
      </li>
      <li class="nav-item active">
        <%= link_to(users_path, class: "nav-link") do %>ユーザー一覧<% end %>
      </li>
      <li class="nav-item active">
        <%= link_to(posts_path, class: "nav-link") do %>投稿一覧<% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アカウント</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to(edit_user_registration_path, class: "dropdown-item") do %>プロフィール変更・退会<% end %>
            <%= link_to(user_path(current_user), class: "dropdown-item") do %>マイページ<% end %>
            <%= link_to(user_posts_path(current_user), class: "dropdown-item") do %>マイ投稿<% end %>
            <%= link_to(user_purchased_path(current_user), class: "dropdown-item") do %>マイ購入<% end %>
            <%= link_to(posts_path, class: "dropdown-item") do %>未購入一覧<% end %>
            <%= link_to(purchased_path, class: "dropdown-item") do %>購入一覧<% end %>
            <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>ログアウト<% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to(new_user_registration_path, class: "nav-link") do %>新規登録<% end %>
        </li>
        <li class="nav-item active">
          <%= link_to(new_user_session_path, class: "nav-link") do %>ログイン<% end %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    <% end %>
  </div>
</nav>
