<%= link_to gravatar_for(post.user, size: 50), post.user %>
<% if params[:user_id].present? %>
  <span class="user">
    <%= post.user.name %>
  </span>
<% elsif current_user == post.user %>
  <span class="user">
    <%= link_to "#{post.user.name} (投稿一覧へ)", user_posts_path(post.user) %>
  </span>
<% else %>
  <span class="user">
    <%= link_to "#{post.user.name} (公開投稿一覧へ)", user_posts_path(post.user) %>
  </span>
<% end %>
<span class="post"><%= link_to post.name, post_path(post) %></span>
<span class="published">
  <% if post.published == false %>
    公開設定：非公開
  <% else %>
    公開設定：公開
  <% end %>
</span>
<span class="timestamp">
  投稿時間：<%= time_ago_in_words(post.created_at) %>前
  <% if current_user == post.user %>
    <%= link_to "削除", post_path(post), method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</span>
<span id="like-<%= post.id %>" class="like">
  <%= render 'likes/like', post: post %>
</span>
