<% provide(:title, "投稿内容編集") %>

<div class="container-fluid">
  <h4>投稿内容編集</h4>
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, "商品名 (必須)" %>
    <%= f.text_field :name, class: "form-control" %><br />

    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %><br />

    <%= f.label :price, "値段 (円)" %>
    <%= f.number_field :price, class: "form-control" %><br />

    <p>購入状態</p>
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <%= f.radio_button :purchased, false, class: "form-check-input", type: "checkbox", id: "unpurchased" %>
          <%= f.label :unpurchased, for: "purchased_2", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :purchased, true, class: "form-check-input", type: "checkbox", id: "purchased" %>
          <%= f.label :purchased, for: "purchased_1", class: "form-check-label" %>
        </div>
      </div>
    </div><br />

    <div id="purchased_at">
      <%= f.label :purchased_at, for: "post_purchased_at_1i" %><br />
      <div class="card">
        <div class="card-body">
          <%= f.date_select :purchased_at,
                    start_year: Time.current.year, end_year: 2000,
                    include_blank: true,
                    use_month_numbers: true %>
        </div>
      </div>
    </div><br />

    <p>公開設定</p>
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <%= f.radio_button :published, false, class: "form-check-input", type: "checkbox" %>
          <%= f.label :unpublished, for: "published_2", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :published, true, class: "form-check-input", type: "checkbox" %>
          <%= f.label :published, for: "published_1", class: "form-check-label" %>
        </div>
      </div>
    </div><br /><br />

    <!-- <p>画像を投稿</p>
    <div class="card">
      <div class="card-body">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </div><br /><br /> -->

    <div class="actions">
      <%= f.submit "更新", class: "btn btn-primary w-100", size: 50 %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var rb_purchased = $("#purchased");
  var rb_unpurchased = $("#unpurchased");
  var field = $("#purchased_at");


  console.log(field);

  var changePurchasedAt = function() {
    if (rb_purchased.prop("checked"))
      field.show()
    else
      field.hide()
  }

  var changeUnpurchasedAt = function() {
    if (rb_unpurchased.prop("checked"))
      field.hide()
    else
      field.show()
  }

  rb_purchased.bind("click", changePurchasedAt);
  rb_unpurchased.bind("click", changeUnpurchasedAt);

  changePurchasedAt();
  changeUnpurchasedAt();
</script>
