<% @user? provide(:title, "#{@user.name}さんの投稿一覧") : provide(:title, "投稿一覧") %>

<main role="main" class="container">
  <div class="posts-content">
    <% if current_user %>
    <ul class="toolbar">
      <%= link_to "リストの作成", "#" %>
    </ul>
    <% end %>

    <%= paginate @posts %>
    <div class="posts">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="list-group">
            <li class="list-group-item">
              <%= link_to gravatar_for(post.user), post.user %>
              <% body = capture do %>
                <span class="user"><%= post.user.name %></span>
                <span class="post"><%= post.name %></span>
              <% end %>
              <%= link_to_if current_user == post.user, body, "#" %>

              <span class="timestamp">
                投稿時間：<%= time_ago_in_words(post.created_at) %>前
                <% if current_user == post.user %>
                  <%= link_to "削除", "#", method: :delete,
                                                   data: { confirm: "You sure?" } %>
                <% end %>
              </span>
            </li>
          </div>
        <% end %>
      <% else %>
        <p>投稿がありません。</p>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</main>
