<% provide(:title, @post.name) %>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h3>
      <%= gravatar_for @post.user %>
      <%= link_to @post.user.name, user_path(@post.user) %>
    </h3>
    <% if @post.user == current_user %>
      <div><%= link_to "編集", edit_post_path(@post), class: "btn btn-lg btn-primary btn-block" %></div><br />
    <% end %>

    <div class="product-wrap">
      <div class="card">
        <div class="card-header">
          商品名
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @post.name %></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          商品説明
        </div>
        <div class="card-body">
          <p class="card-text"><%= @post.description %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          値段
        </div>
        <div class="card-body">
          <% if @post.price %>
            <p class="card-text"><%= @post.price %>円</p>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          購入状態
        </div>
        <div class="card-body">
          <% if @post.purchased == false %>
            <p class="card-text">未購入</p>
          <% else %>
            <p class="card-text">購入済</p>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          購入日
        </div>
        <div class="card-body">
          <% if @post.purchased_at %>
            <p class="card-text"><%= @post.purchased_at.strftime("%Y/%m/%d") %></p>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          公開設定
        </div>
        <div class="card-body">
          <% if @post.published == false %>
            <p class="card-text">非公開</p>
          <% else %>
            <p class="card-text">公開</p>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          投稿日
        </div>
        <div class="card-body">
          <p class="card-text"><%= @post.created_at.strftime("%Y/%m/%d") %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          写真
        </div>
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
